<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testy Prawo Jazdy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>O Programie</h1>
        
        Program umożliwia symulacje egzaminu teoretycznego do prawa jazdy, używając oficjalnej bazy pytań

        <div class="section">
            <button onclick="window.location.href='/'">Strona Główna</button>
        </div>
    </div>
</body>
</html>
